@media only screen and (max-width: 480px){
    
body{
    height:1800px;
    font-size:6px;
}
#header{
    height: 7%;
    background-color: cadetblue;
    text-align: center;
    vertical-align: middle;
}
#header_content{
    padding-top:2.5%;
}

nav{
    background-color: azure;
    width:15%;
    height: 100%;
    display: inline-block;
    float: left;
}

#container{
    height: 69%;
}

#container-panel {
    width:85%;
    background-color: antiquewhite;
    display: inline-block;
     height: 100%;
    vertical-align: top;
    float: left;
}

#footer{
    height: 15%;
    background-color: rosybrown;
}

img{
    vertical-align: middle;
}

#image_space{
    width:60%;
    display: inline-block;
}

#image_span{
     vertical-align: middle;
}
#name{
    color: crimson;
    font-size: 2em;
    font-weight: 200;
    font-family: Arial sans-serif;
}
}